@import url('https://fonts.googleapis.com/css?family=Rubik');
@media screen and (min-width: 450px){
    
}
body {
    display: grid;
    margin: 0;
    overflow: hidden;
}
#page-container {
    position: relative;
    min-height: 100vh;
    max-width: 100vh;
}
.center {
    text-align: center;
}
.floatRight {
    float: right;
}
.floatLeft {
    float: left;
}
.noWrap {
    word-wrap: none;
}
header {
    top: 0;
    width: 100%;
    border-bottom: 2px solid black;
}
footer {
    position: absolute;
    bottom: 0;
    width: 100vh;
    padding: 2rem;
    border-top: 2px black solid;
}
.socialButtons {
    width: 100vh;
    text-align: center;
}
.fa {
    font-size: 3em;
}
.fa-instagram {
    background: -webkit-linear-gradient(200deg, #d047d1, #ff0000,#ffff00);
    -webkit-background-clip: text;
    background-clip: transparent;
    -webkit-text-fill-color: transparent;
}
.fa-linkedin:hover {
    color: blue;
}
/*
@media screen and (min-width: 450px){
    body {
        font-size: 70% !important;
    }
    
}

body {
    font-family: 'Rubik', sans-serif;
    margin:0;
    height: 100%;
    width: 100%;

}
header {
    text-align: center;
    width: 100vw;
    left:0;
    right:0;
    margin:0 auto;
    top:0;

    height: 20%;
}
.navigation {
    text-align: center;
    color: white;
    width: 100%;
    text-decoration: none;
}
.navigationButton {
    text-decoration: none;
    border: 2px solid black;
    background: transparent;
    padding: 1.01em;
    border-radius: 1em;
    color: white;
    width: fit-content;
    font-size: 1em;
}
.center {
    text-align: center;
}

.no-wrap {
    word-wrap: none;
}
.headSentence {
    font-weight: bold;
}
.poem-container {
    width: 40%;
    height: 50%;
    left: calc(50% -1em);
    right: calc(50% -1em);
    top: 50%;
    bottom: 50%;

    padding: 2em;
    margin: 0 auto;

    border: black solid 2px;
    border-radius: 10%;
    font-size: 90%;
    text-align: center;
}
.poem {
    font-weight: 500;
}
footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    border-top: solid black 3px;
    padding: .4%;
}
.footer-container {
    display: flex;
    align-items: center;
} */
