@import url('https://fonts.googleapis.com/css?family=Rubik');

@media screen and (max-width: 481px){
    .withLove {
        visibility: hidden;
    }
}

body {
    font-family: 'Rubik', sans-serif;
}
.center {
    text-align: center;
}
.float-right {
    float: right;
}
.headSentence {
    font-weight: bold;
}
.poem {
    font-weight: 500;
    font-size: 50px;
}
footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    border-top: solid black 3px;
    padding: .4%;
}
.footer-container {
    display: flex;
    align-items: center;
}