@import url('https://fonts.googleapis.com/css?family=Heebo&display=swap');
/*End Importation*/
:root {
    --lightningBlue: #51d0de;
    --lightningPurple: #bf4aa8;
    --brainWhite: #C9ABBE;
    --coolGreen: #94D3A0;
    --niceBlue: #03DAC6; 
}
html {
    font-family: 'Heebo', sans-serif;
    scroll-behavior: smooth;
}
button:focus {outline:0;}
a, u {text-decoration: none !important; color: white !important;}
@media screen and (max-width: 414px){
    img {
        width: 4em;
        height: 4em;
    }
}
body {
    font-family: 'Heebo', sans-serif;
    display: grid;
    margin: 0;
    overflow: scroll;
    color: whitesmoke;
    background: black;
}
body::-webkit-scrollbar {display: none;}
.navbar {
    text-align: center;
    margin-bottom: 5px;
    color: white;
    margin-top: 5px;
}
.centerNav {
    position: relative;
    left: 50%;
    margin-left: -58px;
}
.navButton {
    padding: 2px;
    text-align: center;
    border-radius: 9px;
    border-color: var(--lightningBlue);
    background-color: var(--lightningBlue);
    font-weight: 500;
    color: white;
    font-size: .9em;
    width: fit-content;
    float: left;
}
    @media screen and (max-width: 414px) {
        .navbar {
            margin-bottom: 0;
        }
    }
#heart {
    margin-left:50%;
    margin-top:10px;
    width: 100px;
    height: 175px;
    background-color: var(--lightningPurple);
    -webkit-border-radius: 50px 50px 0 0;
    -moz-border-radius: 50px 50px 0 0;
    border-radius: 50px 50px 0 0;
    -webkit-transform: rotate(315deg);
    -moz-transform: rotate(315deg);
    -ms-transform: rotate(315deg);
    -o-transform: rotate(315deg);
    transform: rotate(315deg);
    visibility: hidden;
    display: none;
    
}
#heart:before {
    position: absolute;
    width: 175px;
    height: 100px;
    left: 0;
    bottom: 0;
    content: "";
    background-color: var(--lightningPurple);
    -webkit-border-radius: 50px 50px 0 0;
    -moz-border-radius: 50px 50px 0 0;
    border-radius: 0 50px 50px 0;
}
    @media screen and (max-width: 414px) {
        #heart {
            margin-left: 30%;
        }
    }
.socialButtons {
    text-align: center;
    font-size: 1.2em;
    background-color: var(--lightningBlue);
    width: 10%;
    margin: 0 auto;
    border-radius: 16px;
    text-rendering: optimizeLegibility;
}
    .fa-instagram {
        background: -webkit-linear-gradient(200deg, #d047d1, #ff0000,#ffff00);
        -webkit-background-clip: text;
        background-clip: transparent;
        -webkit-text-fill-color: transparent;
    }
    .fa-linkedin:hover {
        color: blue;
    }
    .fa-linkedin, .fa-instagram {
        margin-right: 6px;
    }
    @media screen and (max-width: 414px) {
        .socialButtons {
            width: 35.5%;
            font-size: 1.6em;
            margin-top: 10%;
        }
    }
#page-content-home {
    padding: 0;
    margin: 0;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    height: calc(100% + 10px);
}
    @media screen and (max-width: 414px) {
        #page-content-home {
            min-height: 100vh;
        }
    }
/* .content-margin {
    margin-left: 10%;
}
    @media screen and (max-width: 414 px) {
        .content-margin {
            margin-left: 0;
        }
    } */
.headSentence {
    justify-content: left;
    margin-left: 10%;
    font-size: 50px;
    margin-bottom: 3%;
}
.thinkPage .headSentence {
    font-size: 40px;
}
.introSentence {
    justify-content: left;
    margin-left: 10%;
    font-size:20px;
    margin-bottom: 3%;
    text-decoration: none !important;
}
.explanation {
    font-size: 10px;
    margin-left: 10%;
}
.thought {
    border-top: solid white;
    border-bottom: solid white;
    width: 90%;
    margin-left: 10%;
}
.date {
    color: var(--niceBlue);
}
.think {
    margin-left: 12%;
    color: #FF0266;
}
@media screen and (max-width: 414px) {
    .date {
        font-size: .9em;
    }
    .think {
        font-size: .8em;
    }
}
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    border-top: 2px black solid;
}
